<h1>Albums#show</h1>

<div>
  <% if @album.images.attached? %>
    <% @album.images.each do |album| %>
      <%= image_tag(album) %>
    <% end %>
  <% else %>
    <p> No Pictures </p>
  <% end %>
</div>
