<%# TODO redesign page with fullscreen hero image to follow design pattern for rest of app %>

<section class="dest-hero"></section>

<section class="dest-index-container">
  
  <% @destinations.each do |destination| %>
    <div class="dest-info container medium">
        
        <h2>
          <%= destination.title %>
        </h2><hr>
        
        <p>
          <%= destination.body %>
        </p>
          
        <%= link_to 'Show', destination_path(destination) %>
    
    </div>
  <% end %>

</section>

