<div>
  <p><%= @destination.title %></p>
  <p><%= @destination.body %></p>
</div>

<div>
  <% if @destination.images.attached? %>
    <% @destination.images.each do |destination| %>
      <%= image_tag(destination) %>
    <% end %>
  <% else %>
    <p> No Pictures </p>
  <% end %>
</div>
