// Place all the styles related to the Albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new-album-container {
  background-image: url(beach.jpg);
  background-size: cover;
  background-position: center;
  min-height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#dest-title {
  color: #99E1D9;
}

.new-album-form {
  color: #FCFCFC;
  background: rgba(0,0,0,0.8);
  border-radius: 8px;
  font-family: 'Open Sans', sans-serif;
  padding-top: 2%;
  padding-bottom: 2%;
}