// Place all the styles related to the Albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new-album-hero {
  background-image: url(beach.jpg);
  background-size: cover;
  background-position: center;
  min-height: 80%;
}

.new-album-form {
  
}