.devise-hero {
  min-height: 100vh;
  width: 100%;
  background-image: url('beach-van.jpg');
  background-size: cover;
  background-postition: center;
  bacckground-repeat: no-repeat;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.devise-form {

}