.devise-hero {
  min-height: 100vh;
  width: 100%;
  background-image: url('beach-van.jpg');
  background-size: cover;
  background-postition: center;
  bacckground-repeat: no-repeat;
  color: #FCFCFC;
  display: flex;
  justify-content: center;
  align-items: center;
}

.devise-form {
  background: rgba(0,0,0,0.8);
  border-radius: 8px;
  color: #FCFCFC;
  font-family: 'Open Sans', sans-serif;
}