// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.hero-image {
  min-height: 100%;
  width: 100%;
  background-image: url(airplane-wing.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#welcome-text {
  color: #FCFCFC;
  margin-bottom: 3%;
  font-size: 6rem;
  text-shadow: 3px 3px #000;
  font-weight: 300;
}

.hero-modal {
  color: #FCFCFC;
  height: 300px;
  width: 500px;
  background: rgba(0,0,0,0.8);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
}

.dash-container {
  background-image: url(table-map.jpg);
  background-size: cover;
  background-position: center;
  height: 80%;
  box-shadow: 5px 0 5px #000;
}

.dash-section {
  background: url(beach-van.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 60%;
}

.dash-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 400;
  height: 40px;
  background-color: transparent;
}

.dash-nav a {
  color: #99E1D9;
}

.dash-nav a:hover {
  color: #8CCDC6;
  border-bottom: 2px solid #8CCDC6;
}

.dash-content {
  color: #44404E;
  background-color: #FCFCFC;
  height: 700px;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.dash-footer {
  background-color: #44404E;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 150px;
}

.journey-tiles {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding-top: 5%;
}

.tile {
  height: 300px;
  width: 350px;
  background-color: #99E1D9;
  border-radius: 8px;
  box-shadow: 2px 2px 15px #000;
}

