// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.hero-image {
  min-height: 100vh;
  width: 100%;
  background-image: url(airplane-wing.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#welcome-text {
  color: #FCFCFC;
  margin-bottom: 3%;
  font-size: 6rem;
  text-shadow: 3px 3px #000;
  font-weight: 300;
}

.hero-modal {
  color: #FCFCFC;
  height: 300px;
  width: 500px;
  background: rgba(0,0,0,0.8);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
}

.dash-container {
  display: flex;
}

.dash-section {
  background: url(beach-van.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 60vh;

}

.side-nav {
  max-width: 35%;
  height: 100vh;
  background-color: #000;
  color: #FCFCFC;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3%;
}

// ! Not using this, come back to it when finishing styles

// #arrow {
//   position: relative;
//   top: 45%;
//   right: 20%;
//   color: white;
// }